<li class="nav-item">
  <a href="{{ url_for('librarian.dashboard') }}" class="nav-link">
    <i class="bi bi-speedometer2"></i><span>Dashboard</span>
  </a>
</li>
<li class="nav-item">
  <a href="{{ url_for('librarian.issue') }}" class="nav-link">
    <i class="bi bi-arrow-right-circle"></i><span>Issue Book</span>
  </a>
</li>
<li class="nav-item">
  <a href="{{ url_for('librarian.accept_return') }}" class="nav-link">
    <i class="bi bi-arrow-left-circle"></i><span>Accept Return</span>
  </a>
</li>
<li class="nav-item">
  <a href="{{ url_for('librarian.active_borrows') }}" class="nav-link">
    <i class="bi bi-list-check"></i><span>Active Borrows</span>
  </a>
</li>
<li class="nav-item">
  <a href="{{ url_for('librarian.history') }}" class="nav-link">
    <i class="bi bi-clock-history"></i><span>History</span>
  </a>
</li>